td[scope='row'] {
 background-color: #e9ecef;
 color: #495057;
}

.invalid{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.title-label {
    font-weight: 500;
    padding-left: 2px;
}

.form-control {
    padding: 1.5rem 1rem;
}

.form-control-select {
    padding: .75rem 1rem !important;
    height: 50px !important;
}